
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
    background: #c7c7c7;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}

header{
    height: 100px;
    /* background: pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* position: fixed; */
}

nav{
    width: 90%;
    height: 70px;
    /* background: rgba(0, 128, 0, 0.429); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
}

.nav-right{
    /* background: red; */
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
    flex-wrap: wrap;
}

.corner-logo{
    display: flex;
    align-items: center;
}

.corner-logo > h3{
   font-weight: 600;
   color: #454444;
}

.nav-right > a{
    text-decoration: none;
    color: #454444;
}

.a-hover:hover{
    cursor: pointer;
    color: white;
    font-weight: 700;
    
}

@media(max-width: 620px){
    
    header{
        padding: 80px 0;
        background: #349570;
    }

   nav{
    flex-direction: column;
    gap: 10px;
    }
   .corner-logo > h3{
    display: none;
    }

    .corner-logo > svg{
        stroke: white;
    }

    .nav-right {
        justify-content: center;
    }
    .nav-right > a {
        color: white;
    }
    .nav-right > a:hover {
        color: white;
        text-decoration: underline;
    }
}

.nav-left{
    /* background: blue; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    position: relative;
}

.nav-left > svg {
    height: 35px;
}

.nav-left > svg:hover {
    cursor: pointer;
    stroke: white;
}

.cart{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    position: relative;

}

.cart > svg:hover{
    cursor: pointer;
    stroke: white;
}

.cart-number{
    position: absolute;
    top: 6px;
    background-color: #454444;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: white;
    font-size: 10px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}  

@media(max-width: 620px){
    .nav-left > svg {
        stroke: white;
    }

    .cart > svg {
        stroke: white;
    }
}

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.sec1-right{
    padding: 10px;
    width: 45%;
    min-width: 300px;
    height: 500px;
    /* background-color: #e94959; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.sec1-right > h1 {
    width: 90%;
    font-size: 40px;
}

.sec1-right > h3 {
    color: #349570;
    font-size: 22px;
}

.add-to-cart{
    background: #454444;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.add-to-cart:hover{
    cursor: pointer;
    background: #349570;
}

.square{
    position: relative;
    z-index: -1;
    top: -100px;
    min-width: 300px;
    width: 45%;
    height: 700px;
    right: 0;
    background: #349570;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 20px;
}

.square > img {
    position: relative;
    bottom: 40px;
    width: 90%;   
}

@media(max-width: 620px){
    .section1{
        flex-direction: column-reverse;
        margin-bottom: 0px;
    }
    .square{
        height: 600px;
        width: 100%;
    }
    .sec1-right{
        width: 100%;
        padding: 0 30px;
    }
}

.section2{
    margin-top: 40px;
    margin-bottom: 100px;
    /* background: plum; */
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.sec-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.sec-top > button{
    -webkit-appearance: none;
    width: 250px;
    border: none;
    color: #454444;
    
}
.sec-top > button:hover{
    cursor: pointer;
}

@media(max-width: 620px){
    .section2{
        margin-top: 20px;
        padding: 50px 0;
    }
    .sec-top > button{
        width: 100%;
    }
    .sec1-right{
        width: 100%;
        padding: 0 30px;
    }
}

.sec-bottom{
    margin-top: 70px;
    /* background-color: goldenrod; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    color: #454444;
}

.card{
    position: relative;
    /* background: #dfdede; */
    background: #89afa1;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    overflow: hidden;
}

.card-img{
    width: 250px;
    height: 250px;
}

.card-circle{
    position: absolute;
    right: 8px;
    bottom: 60px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0.1px 0.1px 10px #595959;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-circle:hover{
    background: #349570;
    cursor: pointer;
}

.card-circle > svg:hover {
    stroke: white;
}

.card-footer{
    margin-top: 16px;
    padding: 0 25px;
    display: flex;
    gap: 10px;
    
}

.save-animals{
    width: 250px;
    height: 250px;
}

.card-footer-right > h3{
    margin-top: 0px;
}

.card-footer-right > h4{
    margin-top: -13px;
}

.card-footer-left{
    margin-top: 2px;
    font-size: 14px;
    color: #454444;
}

footer{
    background-color: #f0eeee;
    color: #777575;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 15px;
    
}
.footer-container{
    padding: 18px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-top{
 /* width: 100px;
 margin: 0 20px 20px 20px; */
 display: flex;
 justify-content: center;
 align-items: flex-start;
 gap: 60px;
 flex-wrap: wrap;
}

.footer-top > div{
    /* background: rgba(255, 0, 0, 0.165); */
    margin: 10px;
}

.svg-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.svg-box > svg:hover{
    stroke: #349570;
    cursor: pointer;
}

.line{
    width: 100%;
    background-color: #777575;
    height: 0.5px;   
}
.footer-bottom{
    margin: 20px 20px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.same-hover:hover{
    text-decoration: underline;
    cursor: pointer;
}


/*? =================CART STYLES=================== */

.cart-area{
    position: fixed;
    z-index: 1;
    right: 0; 
    height: 100%;
    width: 550px;
    background-color: rgba(255, 255, 255, 0.31);
    backdrop-filter: blur(15px) contrast(110%);
    -webkit-backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none; 
}

.my-cart{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    position: relative;
    /* background-color: plum; */
} 

.my-cart > h2{
    font-size: 35px;
}
 @media(max-width: 820px){
    .cart-area{
        width: 100%;
    }
    .my-cart > h2{
        margin-top: 50px;
        font-size: 20px;
        
    }
 }


/* ! ========================== EMPTY CART */
.empty-cart{
    display: none;
}
/* .empty-cart{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0.1px 0.1px 10px #454444;
    display: none;
}



.empty-cart > h2{
    color: #349570;
}

.empty-cart-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.empty-cart-title>h2{
    color: #349570;
    margin-bottom: -10px;
} */

.item-price{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 250px;
    font-weight: 700;
}

.buy-btn{
    height: 60px;
    width: 40%;/*andtes 200px*/
    background-color: #349570;
    font-weight: 700;
    font-size: 21px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 0;
    text-decoration: none;
    box-shadow: 0.1px 0.1px 5px #454444;
}

.buy-btn:hover{
    background-color: #454444;
    cursor: pointer;
    box-shadow: 0.1px 0.1px 5px #454444;
}

.close-btn{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #349570;
    font-weight: 400;
    font-size: 21px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: absolute;
    top: 50px;
    right: 0px;
    box-shadow: 0.1px 0.1px 5px #454444;
}

.close-btn:hover{
    background-color: #454444;
    cursor: pointer;
    box-shadow: 0.1px 0.1px 5px #454444;
}


@media(max-width: 820px){
    
    
    .buy-btn{
        margin-top: -30px;
        height: 55px;
        width: 40%;
        font-size: 17px;
       
    }
    
    .close-btn{
        margin-top: -5px;
        height: 30px;
        width: 30px;
        font-size: 16px;
    }
   
 }

/* ! ========================== FILLED CART */

.filled-cart{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: none;    */
}

.cart-card{
    padding: 8px;
    width: 400px;
    background-color: #fbfbfb;/*#89afa1*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0.1px 0.1px 10px #454444;
}

.cart-img{
    height: 100px;
}

.item-desc{
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

.item-desc > h4{
    margin-bottom: -10px;
    font-size: 19px;
}

.subtotal{
    margin-top: -10px;
    color: rgb(184, 50, 84);
    font-weight: 700;
}

.cart-counter{
    margin-top: -6px;
    background-color: #f0eeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #454444;
    font-weight: 500;
    border-radius: 4px;
}


.menos , .mas {
    width: 30px;
    height: 30px;
    background-color: #349570;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 4px;
}

.menos:hover{
    cursor: pointer;
    background: #454444;
}

.mas:hover{
    cursor: pointer;
    background: #454444;
}

.cart-card > svg {
    stroke: #454444;
    margin-left: 3px;
}

.cart-card > svg:hover {
   stroke: #349570;
   cursor: pointer;
}

@media(max-width: 820px){
   
    .cart-card{
        width: 100%;
        padding: 4px;
        justify-content: space-around;
        margin-bottom: 10px;
    }

    .item-price{
        gap: 100px;
        margin-top: -10px;
    }

    .filled-cart{
        margin-top: -30px;
    }
    
    .cart-img{
        height: 100px;
    }
    
    .item-desc{
        font-size: 12px;
    }
    
    .item-desc > h4{
        margin-bottom: -10px;
        font-size: 16px;
    }
    
    .cart-counter{
        margin-top: -6px;
        background-color: #f0eeee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #454444;
        font-weight: 500;
        border-radius: 4px;
        font-size: 10px;
    }
    
    
    .menos , .mas {
        width: 25px;
        height: 25px;
       
    }
    
}

